<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="EndpointUri" value="https://jespercosmosdb.documents.azure.com:443/"/>
		<add key="PrimaryKey" value="hI2szzLQfW8zZ9HuLeX4DG6JIBhYd9K7lmp6PeUmBdbMKthwHaNx43INY0AAhAEZDVyZIlzUeOo04BopExb0Dw=="/>
		<add key="DatabaseName" value="TodoList"/>
		<add key="ContainerName" value="Items"/>
	</appSettings>
</configuration>